<ion-view view-title="<img src='img/logo.png' class='about-views myText' />درباره ی ما">
  <ion-content>
    <div class="about-img"></div>
    <div class="about-details padding animated fadeInUp">
        <p class="myText">به هر دلیل که منافع سفر یا بودجه ی شما برایتان مهم هست , شما جای درستی آمده اید سفر خودتان را  با <span class="sec-main-text-color">uniroo</span> رزرو و یا انتخاب کنید
        و از پولی که ذخیره می کنید و سفر راحتی که دارید لذت ببرید.
        در سراسر سفر کارشناسان ما  ردیابی و کنترل را بر روی سفر خواهند داشت تا شما سفری امن را تجربه کنید .</p>
        <p class="myText"><span class="sec-main-text-color">Uniroo</span> اولین انتخاب شما خواهد بود برای رفت آمد به دانشگاه به خاطر ذخیره در وقت و پول و همچنین کسب در آمد </p>
    </div>
  </ion-content>
</ion-view>
