<ion-view view-title="<img src='img/logo.png' class='about-views myText' />جزییات سفر">
  <ion-content class="det_content my_booking" ng-show="showDetail">
    <ion-list>
      <ion-item class="main-bg-color animated fadeInUp" style="text-align: right">
        <div class="row plane-time">
          <div class="col col-20">
            <img src="img/car2r.png" ng-if="$index % 2 !=0"/>
            <img src="img/car2.png" ng-if="$index % 2 ==0"/>
          </div>
          <p class="margin-10 myText" style="margin: 0"><span class="yellow myText">{{driverInfo.carDetail}}</span>&nbsp;&nbsp;&nbsp;<span
            class="myText">{{driverInfo.number}}</span></p>
        </div>
        <div class="myText yellow ellipsis" style="text-align: right">مبدا</div>
        <div class="myText ellipsis" style="text-align: right;direction: rtl">
          {{driverInfo.source}}
        </div>
        <div class="myText yellow ellipsis" style="text-align: right">مقصد</div>
        <div class="myText ellipsis" style="text-align: right;direction: rtl">{{driverInfo.destination}}</div>
      </ion-item>

      <ion-item class="main-bg-color animated fadeInUp" style="text-align: right">
        <div class="items-detail">
          <div class="Passenger dark-blue padding">
            <p class="myText">مشخصات راننده</p>
          </div>
        </div>
        <p style="height: 40px;margin-top: 20px"><span class="yellow margin-10 myText">نام</span>&nbsp;&nbsp;&nbsp;<span class="margin-10 myText" style="color: black">{{driverInfo.driver}}</span></p>
        <p style="height: 40px"><span class="yellow margin-10 myText">شماره تماس</span>&nbsp;&nbsp;&nbsp;<span class="margin-10 myText" style="color: black">{{driverInfo.tel}}</span></p>
      </ion-item>

      <div>
        <ionic-ratings ratingsobj='ratingsObject' style="font-size: 10vw;padding-bottom: 5%;text-align: center;direction: ltr"></ionic-ratings>
      </div>
      <div style="text-align: center;">
        <button id="end" ng-click="submitRate()"
                style="background-color: rgb(43, 193, 54);width: 65px;height: 65px;color: white;font-size: small"
                ng-disabled="confirmForm.$invalid" type="submit"
                class="button button-fab expanded button-energized-900 myText">ثبت
        </button>
      </div>

    </ion-list>
    <div ng-if="!driverInfo" class="myText emptyyellow">نتیجه ای یافت نشد</div>
  </ion-content>
  <ion-footer-bar class="footer dark-blue" ng-show="showDetail">
    <div class="row">
      <div class="col col-50 total text-left">
        <h4 class="yellow myText" style="margin-top: 10px">مجموع: {{driverInfo.cost}} <sup>ریال</sup></h4>
      </div>
      <div class="col col-50 text-right">
        <p class="myText" ng-click="payment()">پرداخت </p>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
<form id="TheForm" method="post" action="https://sep.shaparak.ir/payment.aspx" target="_BLANK">
  <input type="hidden" name="Amount" />
  <input type="hidden" name="MID"/>
  <input type="hidden" name="ResNum"/>
  <input type="hidden" name="RedirectURL" />
  <input type="hidden" name="CellNumber" />
</form>
