<ion-view view-title="<img src='img/ulogo.png' class='about-views myText' />جزییات سفر">
  <ion-content class="det_content my_booking">
    <ion-list>
      <ion-item class="main-bg-color animated fadeInUp" style="text-align: right">
        <p class="myText" style="height: 40px">عازم {{driverInfo.destination}}</p>
        <p style="height: 40px"><span class="yellow margin-10 myText">{{driverInfo.carDetail}}</span>&nbsp;&nbsp;&nbsp;<span class="margin-10 myText">{{driverInfo.number}}</span></p>

        <div class="row plane-time">
          <div class="col col-20">
            <img src="img/car2r.png" ng-if="$index % 2 !=0"/>
            <img src="img/car2.png" ng-if="$index % 2 ==0"/>
          </div>
          <div class="col col-40 start-trip text-center">
            <p style="height: 40px"><span class="margin-10 myText">{{driverInfo.source}} </span></p>
          </div>
          <i class="ion-arrow-right-a"></i>
          <div class="col col-40 text-center">
            <p class="arrive margin-10 myText" style="height: 40px">{{driverInfo.time}}<span class="margin-10 myText">{{driverInfo.destination}}</span></p>
          </div>

        </div>
      </ion-item>

      <ion-item class="main-bg-color animated fadeInUp" style="text-align: right">
        <div class="items-detail">
          <div class="Passenger dark-blue padding">
            <p class="myText">مشخصات راننده</p>
          </div>
        </div>
        <p style="height: 40px;margin-top: 20px"><span class="yellow margin-10 myText">نام</span>&nbsp;&nbsp;&nbsp;<span class="margin-10 myText" style="color: black">{{driverInfo.name}}</span></p>
        <p style="height: 40px"><span class="yellow margin-10 myText">شماره تماس</span>&nbsp;&nbsp;&nbsp;<span class="margin-10 myText" style="color: black">{{driverInfo.mobile}}</span></p>
      </ion-item>

    </ion-list>
  </ion-content>
  <ion-footer-bar class="footer dark-blue" ng-show="showDetail">
    <div class="row">
      <div class="col col-50 total text-left">
        <h4 class="yellow myText">مجموع: {{driverInfo.cost}} <sup>تومان</sup></h4>
        <span class="myText">برای تمامی افراد</span>
      </div>
      <div class="col col-50 text-right">
        <p class="myText" ng-click="goto('/app/payment')">رزرو <i class="ion-ios-arrow-back"></i></p>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
