<ion-view view-title="<img src='img/logo.png' class='about-views' />تماس با ما">
  <ion-content>
    <div class="contact-img"></div>
    <div class="about-details contact padding animated fadeInUp">
        <p style="direction: rtl"><span class="sec-main-text-color">Uniroo</span>تمام تلاش خود را برای پاسخ به شما انجام میدهد</p>
        <h4 style="direction: rtl">برای رزرو, دریافت اطلاعات لحظه ای و یا سوال, از طریق تلفن : </h4>

        <span style="direction: rtl"><img src="img/phone.png" />مرکز تماس :  <a ng-href="tel:+982126851783" class="myText" style="color: black">+982126851783</a></span>
        <div class="row text-center" >
            <div class="col col-50">
              <a href="https://instagram.com/uniroo_app"><img style="height: 50px" src="img/instagram.png"/></a>
            </div>
            <div class="col col-50">
              <a href="http://t.me/uniroo_app"><img style="height: 52px" src="img/telegram.png"/></a>
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>
