<ion-view view-title="<img src='img/logo.png' class='about-views' />تماس با ما">
  <ion-content>
    <div class="contact-img"></div>
    <div class="about-details contact padding animated fadeInUp">
        <p><span class="sec-main-text-color">Uniroo</span>تمام تلاش خود را برای پاسخ به شما انجام میدهد</p>
        <h4>برای رزرو, دریافت اطلاعات لحظه ای و یا سوال, از طریق تلفن : </h4>

        <span><img src="img/phone.png" />مرکز تماس :  <b class="sec-main-text-color" style="direction: ltr"> 22359726 9821+</b></span>
        <p>پشتیبانی ۷ روزه <br/>
       شنبه تا چهارشنبه ۸:۰۰ الی ۲۰:۰۰<br/>
       پنجشنبه و جمعه ۱۰:۰۰ الی  ۱۶:۰۰ </p>

        <div class="row text-center" >
            <div class="col col-20">
                <span class="facebook"><i class="ion-social-facebook"></i></span>
            </div>
            <div class="col col-20">
                <span class="twitter"><i class="ion-social-twitter"></i></span>
            </div>
            <div class="col col-20">
                <span class="dribbble"><i class="ion-social-dribbble-outline"></i></span>
            </div>
            <div class="col col-20">
                <span class="vimeo"><i class="ion-social-vimeo"></i></span>
            </div>
            <div class="col col-20">
                <span class="google"><i class="ion-social-googleplus-outline"></i></span>
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>
