<ion-view view-title="<img src='img/logo.png' class='about-views myText' />نتایج جست و جو">

  <ion-content class="det_content my_booking search-result">
    <ion-list>
        <ion-item class="main-bg-color"
                    ng-repeat="item in data">
            <div class="row plane-time animated fadeInUp">
                <div class="col col-20 text-center">
                    <img src="img/car2r.png" ng-if="$index % 2 !=0"/>
                    <img src="img/car2.png" ng-if="$index % 2 ==0"/>
                </div>
                <div class="col col-67 travel-det">
                    <p class="myText">عازم به {{item.destination}}<span class="myText"><i class="ion-calendar"></i>{{item.year}} {{item.month}} {{item.day}}</span></p>
                    <div class="row travel-time">
                        <div class="col col-33">
                            <p class="myText">{{item.destination}}</p>
                        </div>
                        <div class="col col-33 text-center">
                            <img src="img/arrow2.png" />
                        </div>
                        <div class="col col-33">
                            <p class="myText">{{item.source}}<span class="myText">{{item.time}}</span></p>
                        </div>
                    </div>
                    <div class="row travel-time time-price text-center">
                        <div class="col col-33">
                            <p class="myText">بدون توقف</p>
                        </div>
                        <div class="col col-33">
                            <h4 class="yellow myText">{{item.cost}} تومان</h4>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <input type="checkbox" ng-click="doSelect(item)" name="check" id="{{item.uid}}">
                    <label for="{{item.uid}}"> <span></span>
                    </label>
                </div>
            </div>

          </ion-item>

    </ion-list>
  </ion-content>
     <ion-footer-bar class="footer dark-blue">
        <div class="row" ng-show="totalCost>0">
            <div class="col col-50 total text-left">
                <h4 class="yellow myText">مجموع: {{totalCost}} <sup>تومان</sup></h4>
                <span class="myText">برای تمامی افراد</span>
            </div>
            <div class="col col-50 text-right">
                <p class="myText" ng-click="goto('/app/details')">ادامه <i class="ion-ios-arrow-back"></i></p>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
