<ion-view view-title="<img src='img/logo.png' class='about-views myText' />نتایج جست و جو">

  <ion-content class="det_content my_booking search-result">
    <ion-list>
      <ion-item class="main-bg-color"
                ng-repeat="item in data">
        <div class="row plane-time animated fadeInUp">
          <div class="col col-20 text-center">
            <img src="img/car2r.png" ng-if="$index % 2 !=0"/>
            <img src="img/car2.png" ng-if="$index % 2 ==0"/>
          </div>
          <div class="col col-67 travel-det">
            <div class="row">
              <div class="myText yellow ellipsis col col-20" style="text-align: right">مبدا</div>
              <div class="myText ellipsis col col-80" style="text-align: right"><span class="myText"><i class="ion-calendar"></i>{{item.day}} {{item.month}} {{item.year}}</span></div>
            </div>
            <div class="myText ellipsis" style="text-align: right;direction: rtl">
              {{item.source}}
            </div>
            <div class="myText yellow ellipsis" style="text-align: right">مقصد</div>
            <div class="myText ellipsis" style="text-align: right;direction: rtl">{{item.destination}}</div>
            <div class="row travel-time time-price text-center">
                <h4 class="yellow myText">{{item.cost}} ریال</h4>
            </div>
          </div>
          <div class="col">
            <input type="checkbox" ng-click="doSelect(item)" name="check" id="{{item.uid}}">
            <label for="{{item.uid}}"> <span></span>
            </label>
          </div>
        </div>

      </ion-item>

    </ion-list>
  </ion-content>
  <ion-footer-bar class="footer dark-blue">
    <div class="row" ng-show="totalCost>0">
      <div class="col col-50 total text-left">
        <h4 class="yellow myText" style="margin-top: 10px">مجموع: {{totalCost}} <sup>ریال</sup></h4>
      </div>
      <div class="col col-50 text-right">
        <p class="myText" ng-click="goto('/app/details')">ادامه <i class="ion-ios-arrow-back"></i></p>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
