<ion-view view-title="landing">
  <ion-content scroll="false" >
    <div  class="bg-yellow full-height" full-height>
      <div class='main-container'>
        <div id='logo-box'>
          <img class='logo vertical-middle' src='img/logo.png'/>
        </div>
        <form ng-submit="doLogin(login_form)" name="login_form">
          <div id='login-from-box' class='vertical-middle' ng-form='login_form'>
            <div class='main-container'>

              <div class="error-container myText" ng-show="login.message.length" >
                <p class="error	text-center myText" >{{login.message}}</p>
              </div>

              <div class='input-box' style="direction: rtl">
                <input id="mail" name='mail' required placeholder="نام کاربری یا ایمیل یا شماره همراه" class='bg-grey myText' type='text' />
                <img class='input-icon icon-20' src='img/icons/mobile.png'/>
              </div>
              <div class='input-box' style="direction: rtl">
                <input id="pwd" name='pwd' required placeholder="رمز عبور" class='bg-grey myText' type='password' />
                <img class='input-icon icon-20' src='img/icons/lock.png'/>
              </div>
              <button class='btn bg-yellow color-white m-top-20 big-font myText' type='submit'>ورود</button>
            </div>
          </div>
        </form>
        <div id='sign-in-box'>
          <div class='vertical-middle'>
            <!-- <a href='#/signin'><input id='signup-redirect-btn'  class='btn bg-yellow border-white' type='button' value='New user ? Sign Up now !' /></a> </br> -->
            <input ng-click='sign_up()' id='signup-redirect-btn'  class='btn bg-yellow border-white myText' type='button' value="ثبت نام" /></br>
            <a class='a m-top-10 myText' href='#/app/forget-pass'>فراموشی رمز عبور</a>
          </div>
        </div>
        <div id='sign-in-with' class='text-center'>
          <div class='vertical-middle'>

            <!--<div class='white-line'></div>-->
            <!--<div  class='line-title text-center' >-->
            <!--<span class='bg-yellow'>{{ 'Or sign In with' | langTranslate: appConvertedLang['Or_sign_In_with'] }}</span>-->
            <!--</div>-->

            <!--<a ng-click="facebookLogin()"><img src='../img/icons/fb.png' /></a>-->
            <!--<a ng-click='googleLogin()'><img src='../img/icons/g+.png' /></a>-->

          </div>
        </div>
      </div>
    </div>
    <div class='color-white text-center net-error myText' >به اینترنت متصل نیستید</div>
  </ion-content>
</ion-view>
