<ion-view view-title="<img src='img/ulogo.png' class='about-views' />">
  <ion-content class="search_content main-bg-color" scroll="false">
    <div class="tab-content animated fadeInUp">
      <ion-scroll direction="y" style="height: 100%">
        <div class="from-to">
          <div class="row">
            <div class="col col-50">
              <h4>از</h4>
              <label class="item item-input item-select sel-item">
                <select id="from">
                  <option value="1">تهران</option>
                  <option value="2">کرج</option>
                  <option value="3">قزوین</option>
                </select>
              </label>
            </div>
            <div class="col col-50">
              <h4>به</h4>
              <label class="item item-input item-select sel-item">
                <select id="to">
                  <option value="1">تهران</option>
                  <option value="2">کرج</option>
                  <option value="3">قزوین</option>
                </select>
              </label>
            </div>
          </div>

        </div>

        <div class="date-trip bg-color" >

          <div class="row">
            <span><i class="ion-calendar sec-main-text-color"></i>تاریخ حرکت</span>
          </div>
          <div class="row">
            <input type="number" placeholder="YYYY" id="year" onkeydown="limitSize(event,'year',4)" style="width: 100px;text-align: center;border-radius: 5px">&nbsp;&nbsp;&nbsp;<input type="number" placeholder="MM" id="month" onkeydown="limitSize(event,'month',2)" style="width: 50px;text-align: center;border-radius: 5px">&nbsp;&nbsp;&nbsp;<input type="number" placeholder="DD" id="day" onkeydown="limitSize(event,'day',2)" style="width: 50px;text-align: center;border-radius: 5px">
          </div>

        </div>

      </ion-scroll>
    </div>
  </ion-content>
  <ion-footer-bar class="footer sec-main-bg-color">
    <a ng-click="search()" class="button button-block" style="min-width: 100%">
      ثبت
    </a>
  </ion-footer-bar>
</ion-view>
