<ion-view view-title="<img src='img/logo.png' class='about-views myText' />گردش مالی">
  <ion-content class="my_booking padding">
    <ion-list>
      <div ng-repeat="trip in trips">
        <ion-item class="item-stable item-icon-left bg-color animated slideInUp"
                  ng-click="toggleGroup(trip.uid)"
                  ng-class="{active: isGroupShown(trip.uid)}">

          <h4 class="myText" style="text-align: right;direction: rtl">کد سفر : <span class="yellow myText">{{trip.uid}}</span> <i class="icon" ng-class="isGroupShown(trip.uid) ? 'ion-chevron-up' : 'ion-chevron-down'"></i></h4>
        </ion-item>

        <ion-item class="item-accordion main-bg-color" style="direction: rtl;text-align: right"
                  ng-show="isGroupShown(trip.uid)">
          <div class="items-detail">
            <div class="Passenger dark-blue padding">
              <p class="myText">هزینه<span class="myText">{{trip.cost}}</span></p>
            </div>
            <div class="Passenger dark-blue padding">
              <p class="myText">تاریخ<span class="myText">{{trip.day}} {{trip.month}}</span>{{item.year}}</p>
            </div>
          </div>
          <div class="row plane-time" style="direction: ltr">
            <div class="col col-20">
              <img src="img/car2r.png" />
            </div>
            <div class="col col-40 start-trip text-center">
              <p class="myText"><span>{{trip.time}}</span><span class="myText">{{trip.source}}</span></p>
              <i class="ion-arrow-right-a"></i>
            </div>
            <div class="col col-40 text-center">
              <p class="arrive"><span class="myText">{{trip.destination}}</span></p>
            </div>

          </div>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
