<ion-view view-title="<img src='img/logo.png' class='about-views myText' />گردش مالی">
  <ion-content class="my_booking padding">
    <ion-list>
      <div ng-repeat="trip in trips.amountList">
        <ion-item class="item-stable item-icon-left bg-color animated slideInUp"
                  ng-click="toggleGroup(trip.uid)"
                  ng-class="{active: isGroupShown(trip.uid)}">

          <h4 class="myText" style="text-align: right;direction: rtl">کد سفر : <span class="yellow myText">{{trip.uid}}</span> <i class="icon" ng-class="isGroupShown(trip.uid) ? 'ion-chevron-up' : 'ion-chevron-down'"></i></h4>
        </ion-item>

        <ion-item class="item-accordion main-bg-color" style="direction: rtl;text-align: right"
                  ng-show="isGroupShown(trip.uid)">
          <div class="items-detail">
            <div class="Passenger dark-blue padding">
              <p class="myText">مبلغ<span class="myText">{{trip.cost}}</span></p>
            </div>
            <div class="Passenger dark-blue padding">
              <p class="myText">تاریخ سفر<span class="myText">{{trip.time}}</span></p>
            </div>
          </div>
        </ion-item>
      </div>
    </ion-list>
    <div ng-if="trips.amountList.length == 0" class="myText emptyyellow">نتیجه ای یافت نشد</div>
  </ion-content>
  <ion-footer-bar class="footer dark-blue">
    <div class="row" ng-show="showFooter && trips.amountList.length > 0">
      <div class="col col-50 total text-left">
        <h4 class="yellow myText" style="margin-top: 10px">مجموع: {{trips.total}} <sup>ریال</sup></h4>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
