<ion-view view-title="<img src='img/logo.png' class='about-views' />">
  <ion-content ng-show="showDetail">
    <ion-list>
      <div ng-repeat="item in data">
        <ion-item class="item-stable item-icon-left bg-color animated slideInUp"
                  ng-click="toggleGroup(trip.uid)"
                  ng-class="{active: isGroupShown(trip.uid)}">

          <h4 class="myText" style="text-align: right;direction: rtl">نام : <span class="yellow myText">{{item.name}}</span> <i class="icon" ng-class="isGroupShown(trip.uid) ? 'ion-chevron-up' : 'ion-chevron-down'"></i></h4>
        </ion-item>

        <ion-item class="item-accordion main-bg-color" style="direction: rtl;text-align: right"
                  ng-show="isGroupShown(trip.uid)">
          <div class="items-detail">
            <div class="Passenger dark-blue padding">
              <p class="myText">شماره<span class="myText"><a ng-href="tel:{{item.tel}}" class="myText" style="color: white;direction: rtl;text-align: right">{{item.tel}}</a></span></p>
            </div>
            <div class="Passenger dark-blue padding">
              <p class="myText">وضعیت<span ng-if="item.paid" style="color: green" class="myText">پرداخت شده</span><span ng-if="!item.paid" style="color: red" class="myText">پرداخت نشده</span></p>
            </div>
          </div>
        </ion-item>
      </div>
      <div ng-if="data.length == 0" class="myText emptyyellow">نتیجه ای یافت نشد</div>
    </ion-list>
  </ion-content>
</ion-view>
