<ion-view view-title="<img src='img/logo.png' class='about-views myText' />ثبت نام">
  <ion-content class="register_content padding">
    <div class="bg-color app_form  animated fadeInUp">
      <p class="head-tab sec-main-bg-color myText">اطلاعات شخصی</p>
      <div class="gander row">
        <div class="col col-50" ng-click="isPassenger(true)">
          <input type="radio" name="check" id="passenger" checked>
          <label for="passenger" class="myText">مسافر
          </label>
        </div>

        <div class="col col-50" ng-click="isPassenger(false)">
          <input type="radio" name="check" id="driver">
          <label for="driver" class="myText">راننده
          </label>
        </div>
      </div>
      <div class="tab-details bg-color">
        <h4 class="myText">جنسیت</h4>
        <label class="item item-input item-select sel-item">
          <select id="gender" style="direction: rtl">
            <option class="myText" value="1" style="direction: rtl;text-align: right">مرد</option>
            <option class="myText" value="2" style="direction: rtl;text-align: right">زن</option>
          </select>
        </label>
      </div>
      <div class="row">
        <div class="col col-50">
          <span class="myText">نام</span>
          <label class="item item-input">
            <input class="myText" id="name" type="text">
          </label>
        </div>
        <div class="col col-50">
          <span class="myText">نام خانوادگی</span>
          <label class="item item-input">
            <input class="myText" id="family" type="text">
          </label>
        </div>

      </div>
      <div class="row">
        <div class="col col-50">
          <span class="myText">شماره موبایل</span>
          <label class="item item-input">
            <input class="myText" id="tel" type="tel">
          </label>
        </div>
        <div class="col col-50" ng-show="isPassengerParam">
          <span class="myText">کد ملی</span>
          <label class="item item-input">
            <input class="myText" id="code" type="number" style="direction: rtl">
          </label>
        </div>
        <div class="col col-50" ng-show="!isPassengerParam">
          <span class="myText">پلاک ماشین</span>
          <label class="item item-input">
            <input class="myText" id="number" type="text" style="direction: rtl">
          </label>
        </div>
      </div>
    </div>

    <div class="bg-color app_form info animated fadeInUp">
      <p class="head-tab sec-main-bg-color myText">اطلاعات حساب</p>
      <div class="row">
        <div class="col col-50">
          <span class="myText">نام کاربری</span>
          <label class="item item-input">
            <input class="myText" id="username" type="text">
          </label>
        </div>
        <div class="col col-50">
          <span class="myText">رمز عبور</span>
          <label class="item item-input">
            <input class="myText" id="pass" type="password">
          </label>
        </div>
      </div>

    </div>
    <div class="m-top-20">
      <div class="row" ng-show="!isPassengerParam">
        <div class="col col-67">
          <button ng-click="chose('DRIVER')" style="margin: 5px;width: 67%;font-size: large"
                  class="btn bg-yellow color-white big-font">عکس راننده
          </button>
        </div>
        <div ng-if="driver" class="col col-30">
          <img src="data:image;base64,{{driver}}" style="border-radius: 50%;width: 65px;height: 65px">
        </div>
      </div>
      <div class="row m-top-10" ng-show="!isPassengerParam">
        <div class="col col-67">
          <button ng-click="chose('LICENSE')" style="margin: 5px;width: 67%;font-size: large"
                  class="btn bg-yellow color-white big-font">عکس گواهینامه
          </button>
        </div>
        <div ng-if="license" class="col col-30">
          <img src="data:image;base64,{{license}}" style="border-radius: 50%;width: 65px;height: 65px">
        </div>
      </div>
      <div class="row m-top-10" ng-show="!isPassengerParam">
        <div class="col col-67">
          <button ng-click="chose('CAR')" style="margin: 5px;width: 67%;font-size: large"
                  class="btn bg-yellow color-white big-font">عکس کارت ماشین
          </button>
        </div>
        <div ng-if="car" class="col col-30">
          <img src="data:image;base64,{{car}}" style="border-radius: 50%;width: 65px;height: 65px">
        </div>
      </div>
      <div class="row m-top-10" ng-show="!isPassengerParam">
        <div class="col col-67">
          <button ng-click="chose('INSURANCE')" style="margin: 5px;width: 67%;font-size: large"
                  class="btn bg-yellow color-white big-font">عکس بیمه نامه
          </button>
        </div>
        <div ng-if="insurance" class="col col-30">
          <img src="data:image;base64,{{insurance}}" style="border-radius: 50%;width: 65px;height: 65px">
        </div>
      </div>
      <div class="row m-top-10" ng-show="isPassengerParam">
        <div class="col col-67">
          <button ng-click="chose('STUDENT')" style="margin: 5px;width: 67%;font-size: large"
                  class="btn bg-yellow color-white big-font">عکس
          </button>
        </div>
        <div ng-if="student" class="col col-30">
          <img src="data:image;base64,{{student}}" style="border-radius: 50%;width: 65px;height: 65px">
        </div>
      </div>
    </div>

    <input ng-click='do_signUp(sign_up_form)' class='btn bg-yellow color-white big-font m-top-20' type='button'
           value="ثبت نام"/>
  </ion-content>
</ion-view>

<script id="templates/select.html" type="text/ng-template">
  <ion-modal-view style="min-height: 150px;top: 80%">
    <ion-header-bar class="bar bar-header bar-positive" style="background-color: rgba(17,50,193,1)">
      <button class="button button-clear button-primary myText" ng-click="mainModal.hide()">بستن</button>
    </ion-header-bar>
    <ion-content class="padding">
      <div class="modal" style="z-index:100;min-height:130px">
        <div ng-click="gallery()"
             style="text-align: center;direction:rtl;padding-right:1%;width: 50%;float: right;font-size: xx-large"
             class="ion-ios-photos"></div>
        <div ng-click="camera()"
             style="text-align: center;direction:rtl;padding-right:1%;font-size: xx-large"
             class="ion-camera"></div>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
