<ion-view view-title="<img src='img/ulogo.png' class='about-views' />ثبت نام">
  <ion-content class="register_content padding">
    <div class="bg-color app_form  animated fadeInUp">
        <p class="head-tab sec-main-bg-color">اطلاعات شخصی</p>
        <div class="gander row">
            <div class="col col-50">
                <input type="radio" name="check" id="male" checked>
                <label for="male"> <span></span>آقا
                </label>
            </div>

            <div class="col col-50">
                <input type="radio" name="check" id="female">
                <label for="female"> <span></span>خانم
                </label>
            </div>
        </div>

          <div class="row">
              <div class="col col-50">
                  <span>نام</span>
                <label class="item item-input">
                    <input type="text">
                </label>
              </div>
              <div class="col col-50">
                  <span>نام خانوادگی</span>
                 <label class="item item-input">
                    <input type="text">
                </label>
              </div>

        </div>
        <div class="row">
              <div class="col col-50">
                  <span>تاریخ تولد</span>
                <label class="item item-input">
                    <input type="date">
                </label>
              </div>
              <!--<div class="col col-50">-->
                   <!--<span>Frequently Fly Card</span>-->
                    <!--<label class="item item-input item-select sel-item">-->
                        <!--<select>-->
                            <!--<option value="a1">AirLine</option>-->
                            <!--<option value="a2">AirLine</option>-->
                        <!--</select>-->
                    <!--</label>-->
              <!--</div>-->

            </div>
    </div>

    <div class="bg-color app_form info animated fadeInUp">
        <p class="head-tab sec-main-bg-color">اطلاعات تماس</p>
        <div class="padding">
            <div class="list  list-inset">
                <!--<span>Country Code</span>-->
                <!--<label class="item item-input item-select sel-item">-->
                    <!--<select>-->
                    <!--<option value="Country">-->
                        <!--<i class="ion-ios-telephone-outline"></i>-->
                        <!--United Kingdom (+ 44)-->
                    <!--</option>-->
                    <!--<option value="United Kingdom">-->
                        <!--<i class="ion-ios-telephone-outline"></i>-->
                        <!--United Kingdom (+ 44)-->
                    <!--</option>-->
                    <!--</select>-->
                <!--</label>-->
                <span>موبایل :</span>
                 <div class="row" style="direction: ltr">
                     <div class="col col-20">
                        <label class="item item-input num-country">
                            <input type="number" value="+98" placeholder="+98">
                        </label>
                     </div>
                     <div class="col col-80">
                        <label class="item item-input">
                            <input type="number">
                        </label>
                     </div>
                 </div>
                <span>آدرس</span>
                    <label class="item item-input">
                        <input type="text">
                    </label>
                 <div class="row">
                     <div class="col col-50 padding">
                        <span>ایمیل</span>
                        <label class="item item-input">
                            <input type="email">
                        </label>
                     </div>
                     <div class="col col-50">
                        <span>تکرار ایمیل</span>
                        <label class="item item-input">
                            <input type="email">
                        </label>
                     </div>
                 </div>

            </div>
        </div>
    </div>
  </ion-content>
</ion-view>
