<ion-view view-title="<img src='img/logo.png' class='about-views myText' />رزرو های من">
  <ion-content class="my_booking padding">
    <ion-list>
      <div ng-repeat="trip in trips">
        <ion-item class="item-stable item-icon-left bg-color animated slideInUp"
                  ng-click="toggleGroup(trip.uid)"
                  ng-class="{active: isGroupShown(trip.uid)}">

          <h4 class="myText" style="text-align: right;direction: rtl">کد سفر : <span
            class="yellow myText">{{trip.uid}}</span> <i class="icon"
                                                         ng-class="isGroupShown(trip.uid) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
          </h4>
        </ion-item>

        <ion-item class="item-accordion main-bg-color" style="direction: rtl;text-align: right"
                  ng-show="isGroupShown(trip.uid)">
          <div class="items-detail">
            <div class="Passenger dark-blue padding">
              <p class="myText">هزینه<span class="myText" style="line-height: 21px">{{trip.cost}}</span></p>
            </div>
            <div class="Passenger dark-blue padding">
              <p class="myText">{{trip.day}} {{trip.month}} {{item.year}}</p>
              <p class="myText">{{trip.time}}</p>
            </div>
          </div>
          <div class="myText yellow ellipsis" style="text-align: right">مبدا</div>
          <div class="myText ellipsis" style="text-align: right;direction: rtl">
            {{trip.source}}
          </div>
          <div class="myText yellow ellipsis" style="text-align: right">مقصد</div>
          <div class="myText ellipsis" style="text-align: right;direction: rtl">{{trip.destination}}</div>
          <p ng-show="!isDriver"><span class="yellow myText">راننده</span>&nbsp;&nbsp;&nbsp;<span style="color: black"
                                                                                                  class="myText">{{trip.name}} {{trip.family}}</span>
          </p>
          <p ng-show="!isDriver"><span class="yellow myText">شماره تماس</span>&nbsp;&nbsp;&nbsp;<a ng-href="tel:{{trip.mobile}}" class="myText"
                                                                                                      style="color: black">{{trip.mobile}}</a>
          </p>
        </ion-item>
      </div>
    </ion-list>
    <div ng-if="trips.length == 0" class="myText yellow">نتیجه ای یافت نشد</div>
  </ion-content>
</ion-view>
