<ion-view view-title="<img src='img/ulogo.png' class='about-views' />رزرو های من">
  <ion-content class="my_booking padding">
    <p class="text-center">تمام سفر های شما به ترتیب جدید به قدیم</p>

    <ion-list>
        <div ng-repeat="group in groups">
          <ion-item class="item-stable item-icon-left bg-color animated slideInUp"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">

             <h4>کد سفر : <span class="yellow">QWx4k</span> <i class="icon" ng-class="isGroupShown(group) ? 'ion-chevron-up' : 'ion-chevron-down'"></i></h4>
          </ion-item>

          <ion-item class="item-accordion main-bg-color"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)">
              <div class="items-detail">
                  <div class="Passenger dark-blue padding">
                      <p>همراهان<span>01</span>ویژه</p>
                  </div>
                  <div class="Passenger dark-blue padding">
                      <p>تاریخ<span>۱۸ اردیبهشت</span>1396</p>
                  </div>
              </div>
              <p>اطلاعات</p>
              <p><span class="yellow">سانتافه</span>۷۴ ی ۷۸۸ ایران ۱۰</p>


              <div class="row plane-time" style="direction: ltr">
                  <div class="col col-20">
                      <img src="img/car2r.png" />
                  </div>
                  <div class="col col-40 start-trip text-center">
                      <p>10.00<span>تهران</span></p>
                      <i class="ion-arrow-right-a"></i>
                  </div>
                  <div class="col col-40 text-center">
                      <p class="arrive">11.00<span>قزوین</span></p>
                  </div>

              </div>
              <p><span class="yellow">مدت زمان</span>2 ساعت</p>
          </ion-item>
        </div>
    </ion-list>
  </ion-content>
</ion-view>
