<ion-view view-title="<img src='img/ulogo.png' />">
    <div class="bar bar-subheader search-subheader main-bg-color">
        <div class="row">
            <div class="col col-33">
                <a class="button sec-main-bg-color" ng-click="activeTab(1)" ng-class="{'color_tab sec-main-text-color animated fadeIn':activeIcon==1}">اقتصادی</a>
             </div>
             <div class="col col-33">
                   <a class="button th-main-bg-color" ng-click="activeTab(2)" ng-class="{'color_tab sec-main-text-color animated fadeIn':activeIcon==2}">خوب</a>
             </div>
             <div class="col col-33">
               <a class="button sec-main-bg-color" ng-click="activeTab(3)" ng-class="{'color_tab sec-main-text-color animated fadeIn':activeIcon==3}">ویژه</a>
             </div>
        </div>


    </div>
  <ion-content class="search_content padding main-bg-color" scroll="false">
      <div class="tab-content animated fadeInUp">
        <ion-scroll direction="y" style="height: 100%">
                <div class="tab-details bg-color">
                    <div class="row trip-type radio-style">
                        <div class="col col-33">
                            <input type="radio" name="check" id="r1" checked>
                            <label for="r1"> <span></span>یک مسیره
                            </label>
                        </div>
                        <div class="col col-33">
                            <input type="radio" name="check" id="r2">
                            <label for="r2"> <span></span> دانشگاه
                            </label>
                        </div>
                        <!--<div class="col col-33">-->
                            <!--<input type="radio" name="check" id="r3">-->
                            <!--<label for="r3"> <span></span>Multi Cities-->
                            <!--</label>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="from-to">

                    <div class="row">
                       <div class="col col-50">
                           <h4>از</h4>
                           <label class="item item-input item-select sel-item">
                                <select>
                                <option value="Country">تهران</option>
                                <option value="China">کرج</option>
                                <option value="America">قزوین</option>
                                </select>
                            </label>
                            <label class="item item-input item-select sel-item">
                                <select>
                                <option value="Country">تهران</option>
                                <option value="China">کرج</option>
                                <option value="America">قزوین</option>
                                </select>
                            </label>
                       </div>
                       <div class="col col-50">
                            <h4>به</h4>
                            <label class="item item-input item-select sel-item">
                              <select>
                                <option value="Country">تهران</option>
                                <option value="China">کرج</option>
                                <option value="America">قزوین</option>
                                </select>
                            </label>
                            <label class="item item-input item-select sel-item">
                              <select>
                                <option value="Country">تهران</option>
                                <option value="China">کرج</option>
                                <option value="America">قزوین</option>
                                </select>
                            </label>
                       </div>
                    </div>

                </div>

                <div class="date-trip bg-color" >

                    <div class="row">
                            <span><i class="ion-calendar sec-main-text-color"></i>تاریخ حرکت</span>
                      </div>
                      <div class="row">
                      <input type="number" placeholder="YYYY" maxlength="4" style="width: 50px">&nbsp;&nbsp;&nbsp;<input type="number" placeholder="MM" maxlength="2" style="width: 25px">&nbsp;&nbsp;&nbsp;<input type="number" placeholder="DD" maxlength="2" style="width: 25px">
                    </div>

                </div>

                <div class="traveller" style="text-align: center">
                  <div class="row">
                     <div class="col col-33">
                        <h4><img src="img/ic1.png">بزرگسال</h4>

                        <div class="row num-traveller bg-color">
                            <div class="col col-33 sec-main-text-color">
                                <span ng-click="increment_val('Adults')">
                                   <i class="ion-plus"></i>
                                </span>
                            </div>

                            <div class="col col-33">
                                <label class="item item-input">
                                   <input type="number" value="{{valueAdults}}">
                                </label>
                            </div>

                            <div class="col col-33 sec-main-text-color">
                                <span ng-click="decrement_val('Adults')">
                                   <i class="ion-minus"></i>
                                </span>
                            </div>
                        </div>

                     </div>
                     <!--<div class="col col-33">-->
                        <!--<h4><img src="img/ic2.png">کو</h4>-->

                           <!--<div class="row num-traveller bg-color">-->
                            <!--<div class="col col-33 sec-main-text-color">-->
                                <!--<span ng-click="increment_val('Kids')">-->
                                   <!--<i class="ion-plus"></i>-->
                                <!--</span>-->
                            <!--</div>-->

                            <!--<div class="col col-33">-->
                                <!--<label class="item item-input">-->
                                   <!--<input type="number" value="{{valueKids}}">-->
                                <!--</label>-->
                            <!--</div>-->

                            <!--<div class="col col-33 sec-main-text-color">-->
                                <!--<span ng-click="decrement_val('Kids')">-->
                                   <!--<i class="ion-minus"></i>-->
                                <!--</span>-->
                            <!--</div>-->
                        <!--</div>-->

                     <!--</div>-->
                     <!--<div class="col col-33">-->
                        <!--<h4><img src="img/ic3.png">Babies</h4>-->

                           <!--<div class="row num-traveller bg-color">-->
                            <!--<div class="col col-33 sec-main-text-color">-->
                                <!--<span ng-click="increment_val('Babies')">-->
                                   <!--<i class="ion-plus"></i>-->
                                <!--</span>-->
                            <!--</div>-->

                            <!--<div class="col col-33">-->
                                <!--<label class="item item-input">-->
                                   <!--<input type="number" value="{{valueBabies}}">-->
                                <!--</label>-->
                            <!--</div>-->

                            <!--<div class="col col-33 sec-main-text-color">-->
                                <!--<span ng-click="decrement_val('Babies')">-->
                                   <!--<i class="ion-minus"></i>-->
                                <!--</span>-->
                            <!--</div>-->
                        <!--</div>-->

                     <!--</div>-->
                  </div>
                </div>

        </ion-scroll>
      </div>
  </ion-content>
    <ion-footer-bar class="footer sec-main-bg-color">
        <a href="#/app/data" class="button button-block">
        جست و جو
        </a>
    </ion-footer-bar>
</ion-view>
