<ion-view view-title="<img src='img/logo.png' class='about-views' />">
  <ion-content class="search_content main-bg-color" scroll="false">
    <div class="tab-content animated fadeInUp">
      <ion-scroll direction="y" style="height: 100%;background: #edebeb !important">
        <div class="bg-color">
          <div class="row">
            <input id="pac-input" class="controls myText" type="text" placeholder="مبدا" style="width: 100%;">
            <img ng-click="clearSearch()" id="clearSearch"
                 style="position: absolute;left: 10px;z-index: 11;width: 17px;top: 14px" src='img/close-button.png'/>
          </div>
        </div>
        <div class="bg-color" style="margin-top: 10px">
          <div class="row">
            <input id="pac-input2" class="controls myText" type="text" placeholder="مقصد" style="width: 100%">
            <img ng-click="clearSearch2()" style="position: absolute;left: 10px;z-index: 11;width: 17px;top: 70px"
                 src='img/close-button.png'/>
          </div>
        </div>

        <div class="tab-details bg-color">
          <h4 class="myText"><img src="img/ic2.png">جنسیت مسافر</h4>
          <label class="item item-input item-select sel-item">
            <select id="gender" style="direction: rtl">
              <option class="myText" value="1" style="direction: rtl;text-align: right">فرقی ندارد</option>
              <option class="myText" value="2" style="direction: rtl;text-align: right">فقط مرد</option>
              <option class="myText" value="3" style="direction: rtl;text-align: right">فقط زن</option>
            </select>
          </label>
        </div>

        <div class="date-trip bg-color">
          <div class="row">
            <span class="myText"><i class="ion-calendar sec-main-text-color"></i>تاریخ حرکت</span>
          </div>
          <div class="row">
            <input class="myText" type="number" placeholder="YYYY" id="year" onkeydown="limitSize(event,'year',4)"
                   style="width: 100px;text-align: center;border-radius: 5px">&nbsp;&nbsp;&nbsp;<input class="myText"
                                                                                                       type="number"
                                                                                                       placeholder="MM"
                                                                                                       id="month"
                                                                                                       onkeydown="limitSize(event,'month',2)"
                                                                                                       style="width: 50px;text-align: center;border-radius: 5px">&nbsp;&nbsp;&nbsp;<input
            class="myText" type="number" placeholder="DD" id="day" onkeydown="limitSize(event,'day',2)"
            style="width: 50px;text-align: center;border-radius: 5px">
          </div>
        </div>

      </ion-scroll>
    </div>
  </ion-content>
  <ion-footer-bar class="footer sec-main-bg-color">
    <a ng-click="search()" class="button button-block myText" style="min-width: 100%">
      جست و جو
    </a>
  </ion-footer-bar>
</ion-view>
